#plus-btn{
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 3px;
}
#minus-btn{
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 3px;
}
.picture{
    width: 20px;
    height: 20 px;
}